.container {
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
  height: 300px;
  width: 35vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 5px;
}

.container img {
  height: 100%;
  width: 35vh;
}

.content {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: whitesmoke;
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .container {
    margin: 40px;
  }
}
