.container {
  min-height: 120vh;
  background: linear-gradient(
    to bottom right,
    #fff,
    rgb(239, 252, 237),
    #c2f8c2,
    #9afd9a
  );
  margin-bottom: -50px;
  padding-bottom: 5px;
}

.content {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.mainContent {
  margin-top: 150px;
}

.mainContent h1 {
  color: rgb(10, 73, 2);
  font-size: 3.4rem;
  text-align: center;
  font-family: "Viaoda Libre", cursive;
}

.heading h3 {
  font-size: 2rem;
  color: rgb(10, 73, 2);
  font-family: "Viaoda Libre", cursive;
}

.warehouse {
  display: flex;
  flex-wrap: wrap;
}
.warehouse div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.founders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.foundersDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .mainContent h1 {
    font-size: 2.4rem;
  }
  .heading h3 {
    font-size: 1.5rem;
  }
  .founders {
    flex-direction: column;
  }
}

@supports (display: grid) {
  .warehouse {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
  }

  .warehouseItem,
  .warehouse {
    width: auto;
    margin: 1%;
  }
}
