.container {
  min-height: 120vh;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.left {
  margin-top: 150px;
  flex: 0.2;
  margin-left: 20px;
  border-right: 1px solid gray;
  /* background-color: blueviolet; */
}

.right {
  margin-top: 150px;
  flex: 0.8;
  /* background-color: burlywood; */
}

.title {
  /* background-color: aquamarine; */
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  grid-auto-columns: 50px;
}
