.App-logo {
  height: 50px;
  pointer-events: none;
}
.animate__animated.animate__flipInX {
  --animate-duration: 2000ms;
  --animate-delay: 2s;
}
.collapse-button {
  display: block;
  /* width: 100%; */
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}

.reach {
  margin: 50px;
  padding: 20px;
}

.reachTitle {
  padding: 20px;
}

.reachContent {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

.address {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
